<footer class="container-fluid sticky-bottom  bg-light">
    <div class="row">
        <section class="col d-flex justify-content-evenly">Colonne 1</section>
        <section class="col d-flex justify-content-evenly">Colonne 2</section>
        <section class="col d-flex justify-content-evenly">Colonne 3</section>
    </div>
</footer>
